@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500&display=swap');
* {
    font-family: 'Dosis', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 110vh;
    background-image: url(image/1.jpg);
    background-size: cover;
    background-position: center;
    transition: background 0.5s ease;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    background-image: linear-gradient(to right, rgba(159, 17, 81, 0), rgb(174, 155, 12));
    align-items: center;
    z-index: 99;
    transition: background-color 0.5s ease;
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.navigation {
    display: flex;
    align-items: center;
}

.navigation a {
    text-decoration: none;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: color 0.3s ease;
}

.navigation a:hover {
    color: #fc8019; 
}

.logo {
    color: black;
}

.show-password {
    top: 2px;
    transition: top 0.3s ease;
}

.navigation .ok {
    width: 130px;
    height: 50px;
    background: #fc8019; 
    border: 2px solid #fc8019;
    outline: none;
    border-radius: 6px;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    margin-left: 20px;
    transition: background 0.5s ease, color 0.5s ease;
}

.navigation .ok:hover {
    background: white;
    color: #fc8019; 
}
